
<% title 'My HomeMarks' %>

<h1><%= yield(:title) %></h1>

<p>
  Enter your new email address or password in the fields below. You do not need to enter a new password if you 
  are only updating your email address. All changes will send email notifications.
</p>

<h2>Account Information</h2>

<% form_for @user, :html => {:id => 'edit_form'} do |u| %>
<table class="ajaxform">
  <%= render :partial => 'form', :locals => {:u => u} %>
  <tr>
    <td></td>
    <td class="vbottom_all">
      <%= submit_tag 'Update Account' %>
      <span id="form_loading"></span>
    </td>
  </tr>
</table>
<% end %>


<h2>Delete Account</h2>

<p>
  <img src="/stylesheets/images/site/trashcan.png" class="floatl mr10" />
  If you choose to delete your account, it will be immediately deactivated and then deleted by the HomeMarks 
  system in <%= HmConfig.app[:delayed_delete_days] %> days. If you do choose to do this, an email will be sent 
  to your address on file with a link that will allow you to cancel this action within the 
  <%= HmConfig.app[:delayed_delete_days] %> day period.
</p>

<div class="clearfix">
  <div class="floatr">
    <%= button_to 'Delete Account', user_path(current_user), :confirm => "Are you REALLY sure you want to delete your account?", :method => :delete %>
  </div>
</div>

