
<% cache(user_home_cache) do -%>
  
  <div id="col_wrapper">
    
    <% current_user.columns.each do |col| %>
    
    <div id="col_<%= col.id %>" class="dragable_columns">
      <span class="column_ctl">
        <span class="ctl_close"></span>
        <span class="ctl_handle"></span>
        <span class="ctl_add"></span>
      </span>
      
      <% col.boxes.each do |box| %>
      <div id="box_<%= box.id %>" class="dragable_boxes">
      <div class="box <%= box.style %>">
        <div class="box_header clearfix">
          <span class="box_action"></span>
          <span class="box_title">
            <span class="box_handle"></span>
            <span class="box_titletext"><%= h(box.title) %></span>
          </span>
        </div>
        <div class="line"></div>
        <div class="inside" style="display:<%= box.collapsed? ? 'none' : 'block' %>;">
          <ul id="bmrklist_<%= box.id %>" class="sortablelist">
            <% box.bookmarks.each do |bmark| -%>
              <li id="bmark_<%= bmark.id %>" class="dragable_bmarks clearfix">
                <span class="bmrk_handle">&nbsp;</span>
                <span class="boxlink"><a href="<%= h(bmark.url) %>"><%= h(bmark.name) %></a></span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      </div>
      <% end %>
      
    </div>
    
    <% end %>
    
    <div id="welcome_box" class="center" style="display:<%= current_user.columns.blank? ? 'block' : 'none' %>;">
      <div id="welcome_header" class="site_yellow">
        Welcome to your <br />
        HomeMarks start page.
      </div>
      <div id="welcome_message">
        Get started by creating your first column, then new boxes within it. If you are unsure how to do this, please take a 
        moment to read over the <%= link_to 'documentation and help', site_path('help') %> section.
      </div>
    </div>
  
  </div>
  
  <% if session[:demo] == true -%>
  <script type="text/javascript" charset="utf-8">
    var demoinaround = alert('This demo account may produce errors since it is shared with other public visitors. All account actions are disabled and this account will even reset to its own defaults every few hours. Enjoy.');
  </script>
  <% end -%>

<% end -%>
