
<% title 'Issues & Support' %>

<h1><%= yield(:title) %></h1>
<p class="mb20">
  <%= image_tag 'dabomb.png', :class => 'floatr mr5 ml10' %>
  If you are having a problem and do not see your issue listed as one of the known issues below, please 
  <%= link_to_function 'fill out the support form', 'Site.toggleSupportForm(this)' %> and give me a detailed 
  description of your problem. I will try to get back to you as soon as possible.
</p>
<%= render :partial => 'form' %>


<h2>Known Issues</h2>
<ul class="issuetopics">
  <li><a href="#javascript_speed">JavaScript speed when dragging and moving elements.</a></li>
  <li><a href="#homemarklet">HomeMarklet form not rendered correctly on some web pages.</a></li>
</ul>


<a name="javascript_speed"></a>
<h2>JavaScript Speed</h2>
<p>
  Because HomeMarks makes heavy use of JavaScript, it is important to use a browser that can process JavaScript 
  quickly. Currently, the most recommended browser is the latest release of 
  <%= link_to 'Firefox', 'http://www.mozilla.com/en-US/firefox/' %>, which processes JavaScript much faster than its 
  predecessors. Apple's Safari is also really fast at processing client side JavaScript. 
  You can <%= link_to 'download Safari', 'http://www.apple.com/safari/download/' %> from Apple's site for either
  Mac or Windows.
</p>


<a name="homemarklet"></a>
<h2>HomeMarklet Visual Errors</h2>
<p>
  Sometimes the CSS or existing page elements on a webpage can conflict with the appearance of the HomeMarklet 
  form. This can be compensated for and if you find a web page that shows this behavior, please let me know.
</p>

