
<h1>Welcome to HomeMarks</h1>

<p>
  Your own personal bookmark start page.
</p>



<h2>Features</h2>

<p>
  HomeMarks allows you to dynamically create and sort Columns, Boxes, and Bookmarks into your own custom start page. Boxes
  can be customized with a title of your choosing or colored to match the theme and nature of the bookmarks within them.
  Bookmarks can be dragged from Box to Box, sorted or easily deleted.
</p>
<br />

<p>
  The most important part of any bookmarking system is the bookmarking tool. The HomeMarklet (our bookmarklet) allows you
  to save most any type of link to your HomeMarks start page without even leaving the current page you are on. Bookmarks
  can be saved to an Inbox or directly to any of the boxes on your start page. Read through the
  <%= link_to 'online documentation', site_path('help') %> to see all of HomeMarks features, or
  <%= link_to 'signup now', new_user_path %> and create your own HomeMarks page.
</p>


<a name="about"></a>
<h2>About</h2>

<p>
  <%= image_tag 'railslogo.png', :class => 'floatl', :style => 'margin: 2px 15px 0 5px;' %>
  HomeMarks was built using the <%= link_to 'Ruby on Rails', 'http://rubyonrails.org/' %> framework with a heavy emphasis on object
  oriented JavaScript to make AJAX requests to a RESTful back-end. Unlike most Rails
  applications it does not use any inline JavaScript helpers nor does it rely on RJS
  (Remote JavaScript) for dynamic page updates. Instead it is nearly 100% unobtrusive
  JavaScript which uses simple HEAD or JSON responses to communicate to the objects on
  the page. This has yielded very slim controller code which is decoupled from the
  views and easily testable in isolation at a functional level.
</p>
<br />

<p>
  I invite you to not only download and use the application but to also explore the
  code and tests to see if this implementation is something you might be interested in.
  HomeMarks was made by me, <%= link_to 'Ken Collins', 'http://www.metaskills.net/colophon' %>, as my first pet project while learning the
  Rails framework (pre 1.0) and has now been rewritten from the ground up using the
  methods outlined above for the release of Rails 2.1. I hope that you find it useful.
</p>
<br />

<p>
  HomeMarks is not only a <a href="http://homemarks.com/">free web service</a>, but it is also free to download and run on your
  own machine, modify, etc. HomeMarks has a MIT license and can be obtained from <a href="http://github.com/metaskills/">my
  Github account</a> or using the direct Github tarball link below. I always appreciate feedback, so if you would like, please
  contact me using.
</p>
<br />

<div id="site_download" class="center mt20">
  <a href="http://github.com/metaskills/homemarks/tarball/master">
    <%= image_tag 'download.png', :border => 'none', :alt => 'Download latest HomeMarks app.' %><br />
    Download Latest HomeMarks
  </a>
</div>


