<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>My HomeMarks</title>  
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= stylesheet_link_tag 'utility_styles', :media => 'all' %>
  <%= javascript_include_tag 'prototype', 'effects', 'dragdrop', 'builder', :cache => 'homemarks_vendor' %>
  <%= javascript_include_tag 'homemarks/base','homemarks/sortable','homemarks/app','homemarks/modal','homemarks/tooltip',
                             'homemarks/bookmark','homemarks/box','homemarks/column','homemarks/page', :cache => 'homemarks_app' %>
  <script type="text/javascript">
    <%= auth_params_js_var %>
    Builder.dump();
  </script>
</head>
<body>
  
  <div id="action_bar"></div>
  <div id="action_area_shim" style="display:none;">
    <div id="action_area">
      <div id="fieldset">
        <div id="fieldset_top">
          <div id="fieldset_legend">
            <span id="legend_inbox"></span>
            <span id="legend_trash"></span>
          </div>
        </div>
        <div id="fieldset_middle">
          <div id="fieldset_progress_wrap"><div id="fieldset_progress"></div></div>
          <div id="inbox"><ul id="inbox_list" class="sortablelist" style="display:none;"></ul></div>
          <div id="trashbox"><ul id="trashbox_list" class="sortablelist" style="display:none;"></ul></div>
          <div id="trashbox_emptytrash_box" class="clearfix" style="display:none;">
            <span id="trashbox_emptytrash_button" onclick="<%# empty_trash_function %>">&nbsp;</span>
          </div>
        </div>
        <div id="fieldset_bottom"></div>
      </div>
    </div>
  </div>
  
  <div id="header">
    <% flash_mood = [:good,:bad,:indif].detect { |m| flash[m] } %>
    <div id="hud" class="<%= flash_mood %>">
      <div id="loading_wrapper">
        <div id="loading" style="display:none;"><%= image_tag "loading_invert.gif" %></div>
      </div>
      <div id="message_wrapper">
        <%= content_tag(:span, flash_mood, :id => 'message') if flash_mood %>
      </div>
    </div>
    <%# TODO: [Demo User] %>
    <%# if session[:demo] %>
    <!-- <div id="header_message_box">
      <%# link_to "Quit demo'in around and join HomeMarks...", signup_url, :class => 'header_message' %>
    </div> -->
    <%# end %>
    <div id="button_box">
      <%# TODO: Make column AJAX link %>
      <%= app_nav_for 'Create a new column.', 'button_new_column', columns_url %>
      <%= app_nav_for 'My HomeMarklet. Click to learn more.', 'button_bookmarklet', render_bookmarklet, :xtra_content => '<span style="display:none;">HomeMarklet</span>' %>
      <%= app_nav_for 'My account preferences.', 'button_prefs', edit_user_path(current_user) %>
      <%= app_nav_for 'Documentation & Help', 'button_help', site_path('help') %>
      <%= app_nav_for 'Site homepage.', 'button_home', root_path %>
      <%# TODO: Make this (tipsy) link go to something. %>
      <%# app_nav_for 'Feeling tipsy?', 'button_beer', '#' %>
      <%= app_nav_for 'Report any issues.', 'button_bug', new_support_request_path(:show_form => true) %>
      <%= app_nav_for 'Log out.', 'button_logout', session_path %>
    </div>
  </div>
  
  <%= yield %>
  
  <!-- <div id="trashcan" class="<%# current_user.trashbox.empty? ? 'trash_empty' : 'trash_full' %>" onclick="toggleActionArea('trashbox');"></div> -->
  <%# drop_receiving_element 'trashcan', :url => '', 
      :accept => 'dragable_bmarks', :hoverclass => 'trash_droppable', 
      :before => "element.remove()", :loading => 'globalLoadingBehavior()' %>
      
</body>
</html>
