<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>My HomeMarks</title>  
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'builder' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
  
  <div id="modalmask" style="display:none;">
    <div id="modal_progress" style="display:none;" onclick="location.reload();"></div>
  </div>
  <div id="modal_html_ap-wrapper" class="inhomemarks_site">
    <div id="modal_html_rel-wrapper" style="display:none;">
    </div>
  </div>
  
  <div id="action_bar" onclick="toggleActionArea('inbox');"></div>
  <div id="action_area_shim" style="display:none;">
    <div id="action_area">
      <div id="fieldset">
        <div id="fieldset_top">
          <div id="fieldset_legend">
            <%= link_to_remote_for_actionarea_inbox %>
            <%= link_to_remote_for_actionarea_trashbox %>
          </div>
        </div>
        <div id="fieldset_middle">
          <div id="fieldset_progress_wrap"><div id="fieldset_progress"></div></div>
          <div id="inbox"><ul id="inbox_list" class="sortablelist" style="display:none;"></ul></div>
          <div id="trashbox"><ul id="trashbox_list" class="sortablelist" style="display:none;"></ul></div>
          <div id="trashbox_emptytrash_box" class="clearfix" style="display:none;">
            <span id="trashbox_emptytrash_button" onclick="<%= empty_trash_function %>">&nbsp;</span>
          </div>
        </div>
        <div id="fieldset_bottom"></div>
      </div>
    </div>
  </div>
  
  <div id="header">
    <div id="hud" class="<%= flash.keys %>">
      <div id="loading_wrapper">
        <div id="loading" style="display:none;"><%= image_tag "loading_invert.gif" %></div>
      </div>
      <div id="message_wrapper">
        <% for name in flash.keys -%>
          <%= %Q|<span id="message" class="msg_#{name}">#{flash[name]}</span>| %>
        <% end -%>
      </div>
    </div>
    <% if session[:demo] == true -%>
    <div id="header_message_box">
      <%= link_to "Quit demo'in around and join HomeMarks...", signup_url, :class => 'header_message' %>
    </div>
    <% end -%>
    <div id="button_box">
      <%= link_to_remote content_tag('span', '', :id => 'button_new_column', :class => 'user_buttons'), {:url => column_new_url, :loading => "globalLoadingBehavior()"}, :class => 'tooltipable', :title => 'Create a new column.' %>
      <%= link_to content_tag('span', '', :id => 'button_bookmarklet', :class => 'user_buttons')+'<span style="display:none;">HomeMarklet</span>', render_bookmarklet, :class => 'tooltipable', :title => 'My HomeMarklet. Click to learn more.' %>
      <%= link_to content_tag('span', '', :id => 'button_prefs', :class => 'user_buttons'), myaccount_url, :class => 'tooltipable', :title => 'My account preferences.' %>
      <%= link_to content_tag('span', '', :id => 'button_help', :class => 'user_buttons'), help_url, :class => 'tooltipable', :title => 'Documentation & Help' %>
      <%= link_to content_tag('span', '', :id => 'button_home', :class => 'user_buttons'), index_url, :class => 'tooltipable', :title => 'Site homempage.' %>
      <!-- TODO: Make this (tipsy) link go to something. -->
      <!-- <%= link_to content_tag('span', '', :id => 'button_beer', :class => 'user_buttons'), 'sitecontroller.com', :class => 'tooltipable', :title => 'Feeling tipsy?' %> -->
      <%= link_to content_tag('span', '', :id => 'button_bug', :class => 'user_buttons'), issues_url, :class => 'tooltipable', :title => 'Report any issues.' %>
      <%= link_to content_tag('span', '', :id => 'button_logout', :class => 'user_buttons'), logout_url, :class => 'tooltipable', :title => 'Log out.' %>
    </div>
  </div><!-- #header -->
  
  <%= yield %>
  
  <div id="trashcan" class="<%= @trashbox.is_empty? ? 'trash_empty' : 'trash_full' %>" onclick="toggleActionArea('trashbox');"></div>
  <%= drop_receiving_element 'trashcan', :url => trash_url, 
      :accept => 'dragable_bmarks', :hoverclass => 'trash_droppable', 
      :before => "element.remove()", :loading => 'globalLoadingBehavior()' %>
      
</body>
</html>
