<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>HomeMarks Non-HTML Bookmark</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <%= stylesheet_tags %>
  <%= javascript_vendor_tags %>
  <%= javascript_core_tags %>
  <script type="text/javascript">
    <%= auth_params_js_var %>
    Builder.dump();
  </script>
</head>
<body>
  
  <%= yield %>
  
</body>
</html>

