<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>HomeMarks - <%= yield(:title) || 'Simple Bookmark Start Page' %></title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= stylesheet_link_tag 'utility_styles', :media => 'all' %>
  <%= javascript_vendor_tags %>
  <%= javascript_include_tag 'homemarks/base','homemarks/site','homemarks/modal', :cache => 'homemarks_site' %>
  <script type="text/javascript">
    document.observe('dom:loaded', function(){
      HmSite = new HomeMarksSite();
    });
    Builder.dump();
  </script>
</head>
<body>
  
  <div id="site_wrapper">
    
    <div id="site_masthead">
      <div id="site_links">
        <%= site_nav_for 'Home', root_path %>
        <%= site_nav_for 'Help', site_path('help') %>
        <% unless logged_in? %>
          <%= site_nav_for 'Login', new_session_path %>
        <% else %>
          <%= site_nav_for 'My HomeMarks', myhome_path %>
          <%= site_nav_for 'Logout', session_path %>
        <% end %>
      </div>
    </div>
    <div id="site_content">
      <div id="site_content_top"></div>
      <div id="site_content_area">
        <% [:good,:bad,:indif].each do |key| %>
          <div id="flash_<%= key %>" class="flash_message" style="display:<%= flash[key].blank? ? 'none' : 'block' %>;">
        	  <span><%= flash[key] %></span>
        	</div>
        <% end %>
        <%= yield %>
      </div>
      <div id="site_content_bottom"></div>
      <div id="site_footer">
        <span><em>All information is private and shared with no one.</em></span><br />
        <span>HomeMarks is a service mark of Action Moniker, LLC. Copyright &copy; 2006-<%= Time.now.year %> Action Moniker, LLC.</span>
      </div>
    </div>
    
  </div>
  
</body>
</html>

